*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.sidebar{
    background: rgb(61, 61, 61);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
}

.sidebar .player{
    margin-bottom: 30px;
    text-align: center;
}

.sidebar .player h1{
    color: #ffffff;
    margin: 10px 0 10px;
}

.sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #585858;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
    text-align: left;
}

.sidebar ul li a:hover{
    background-color: #7e7e7e;
}

.sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.back{
    display: block;
    padding: 13px 63.7px;
    border-top: 1px solid #585858;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: fixed;
    text-align: left;
    bottom: 0;
    background-color: rgb(61, 61, 61);
}

.back:hover{
    background-color: #7e7e7e;
}

.icon-home{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

#scroll {
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 30px;
}

::-webkit-scrollbar-thumb {
    background: rgb(141, 141, 141);
    border-radius: 10px;
}

input[type=search] {
    color: #ffffff;
    border: 3px solid #585858;
    background-color: #585858;
    border-radius: 25px;
    position: relative;
    font-size: 14px;
    outline: none;
    font-family: sans-serif;
    left: 7.5px;
    margin-bottom: 10px;
}

.searchbutton {
    background-color: #585858;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 14px;
    position: relative;
    left: -20px;
    bottom: -0.5px;
    cursor: pointer;
}

.searchbutton:hover {
    color: #c2c2c2;
}