h1 {
    text-align: center;
    font-family: sans-serif;
}

.box{
    background: rgb(255, 255, 255);
    position: fixed;
    top: 200px;
    left: 300px;
    width: 225px;
    height: 350px;
    padding: 20px 0;
    border-radius: 40px;
    box-shadow: 10px 5px 5px gray;
}

.box1{
    background: rgb(255, 255, 255);
    position: fixed;
    top: 200px;
    left: 680px;
    width: 225px;
    height: 350px;
    padding: 20px 0;
    border-radius: 40px;
    box-shadow: 10px 5px 5px gray;
}

.box2{
    background: rgb(255, 255, 255);
    position: fixed;
    top: 200px;
    left: 1080px;
    width: 225px;
    height: 350px;
    padding: 20px 0;
    border-radius: 40px;
    box-shadow: 10px 5px 5px gray;
}

.str {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bolder;
    user-select: none;
}

.var {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
    position: relative;
    top: 20px;
    user-select: none;
}